[report]
omit =
    */python?.?/*
    */site-packages/nose/*
    */test/*
    */docs/*
    */dependencies/*
    */examples/*
    */ipython_notebooks/*
    */matrix_powers.py
    */Tssyrk.py
    */array_op.py
