.idea/
*.o
*.so
*.pyc
examples/*.xml
examples/*.cl
build
dist
hindemith.egg*
*.dot
*.avi
*.xml
.ropeproject
*.gz
*.egg
kernels.cl
*.swp
__pycache__
tmp.png
*.egg-info
.DS_Store
*.sublime-project
*.sublime-workspace
tags
.caffemodel
.venv
docs/_build
*.dylib
*.caffemodel
mnist_train_lmdb_clean
*_lmdb
applications/hmcaffe/data/**/*.txt
*.binaryproto
*.bet.pickle
.coverage
